.idea/
*~
*swp
*.charm
.coverage
__pycache__
build
venv
.tox
tests/integration/loki-tester/lib/charms/loki_k8s
tests/integration/log-proxy-tester/lib/charms/loki_k8s
cos-tool*
prometheus-*.tar.gz
prometheus-*/
