cosl
ops
kubernetes
requests
lightkube
lightkube-models
aiohttp
jsonschema
lightkube
lightkube-models

# Cryptography
# Deps: tls_certificates
cryptography

# deps: tracing, charm_tracing
pydantic
opentelemetry-exporter-otlp-proto-http==1.21.0
